<ion-header>
  <ion-toolbar>
    <ion-title>Task Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Done</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-button expand="full">Submit</ion-button>
  </form>
</ion-content>

